html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    overflow: hidden;
    font-family: "Trebuchet MS";
}

h3 { margin: 0 0 5px 0; border-bottom: 1px solid #444; padding: 0 0 5px 0; text-align: center; }
.shadow {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}
#feedback {
    background: #fff;
    border: 2px solid #666;
    border-radius: 5px;
    bottom: 20px;
    color: #666;
    font-family: arial;
    height: auto;
    left: 20px;
    margin: 5px;
    padding: 10px;
    position: absolute;
    width: 300px;
    z-index: 40;
}
#feedback a {
    border-bottom: 1px solid #888;
    color: #666;
    text-decoration: none;
}
#feedback a:hover, #feedback a:active, #feedback a:visited {
    border: none;
    color: #666;
    text-decoration: none;
}
#note { padding: 0 0 10px 0; }
#info { padding: 10px 0 0 0; }




#bcMain {
    width: 100%;
    height: 100%;
}

#cpTop {
    height: 30px;
}
#cpLeading {
    width: 200px;
}

#BasemapToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 50;
}

#titlePane{
    width:280px;
}

#divSearch {
    display: block;
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 75px;
}